* {
    margin: 0;
    padding: 0;
    }

body {
    height: 100vh;
    background-color: black;
    color: #f6f6f6;
    box-sizing: border-box;
}

.apresentacao_titulo {
font-size: 46px;
font-family: 'Indie Flower', cursive;



}

.apresentacao_paragrafo {
    font-size: 24px ;
    font-family: 'IBM Plex Mono', monospace;
}

.destaque-titulo {
    color: aqua;
}

.apresentacao {
display: flex;
align-items: center;
justify-content: space-between;
margin: 10% 15%;


}

.apresentacao_conteudo {
    width: 615px;
   
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
}

.link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    padding: 21px 0px;
    font-size: 24px;
    border-radius: 16px;
    text-decoration: none;
    color: black;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
}



img {
    width: 488px;
    height: 550px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border: aqua 1px solid;
   
}

