* {
    margin: 0;
    padding: 0;
    }

body {
    height: 100vh;
    background-color: black;
    color: #f6f6f6;
    box-sizing: border-box;
}

.apresentacao_titulo {
font-size: 36px;
font-family: 'Krona One', sans-serif;




}

.apresentacao_paragrafo {
    font-size: 24px ;
    font-family: 'IBM Plex Mono', monospace;
}

.destaque-titulo {
    color: aqua;
}

.apresentacao {
display: flex;
align-items: center;
justify-content: space-between;
margin: 10% 15%;


}

.apresentacao_conteudo {
    width: 615px;
    height: 375px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao_subtitulo {
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.link {
    background-color: black;
    width: 388px;
    text-align: center;
    padding: 21px 0px;
    font-size: 24px;
    border-radius: 16px;
    text-decoration: none;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid #22d4fd;
    display: flex;
   justify-content: center;
   gap: 16px;
}

.link:hover {
    background-color: #272727;
    color: yellow;
}





.imagem_perfil{
    width: 488px;
    height: 550px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border: aqua 5px solid;
   
}

