body {
    background-color: black;
    color: #f6f6f6;
}

h1 {
    width: 593px;
    height: 168px;
    
}

p {
    width: 593px;
    height: 144px;
    color: yellow;
    font-size: large;
}

h1>strong {
    color: blueviolet;
}

.texto {
    width: 815px;
    height: 582px;
    margin-top: 278px;
    margin-left: 357px;
    height: 482px;

}

img {
    width: 488px;
    height: 550px;
    border-radius: 16px;
    margin-top: 190px;
    margin-right: 10px;
}

.externo {
    width: 280px;
    height: 79px;
    background-color: aqua;
    border-radius: 16px;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: black;
}

.texto,
.img {
    float: left;
}